<header class="d-flex justify-content-center py-3">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0">
        <img width="100px" src="/assets/images/logo.png" alt="Logo">
    </a>
    <ul class="nav mx-4">
        <li class="nav-item"><a href="/" class="nav-link link-body-emphasis px-2 text-black active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/guarapuava" class="nav-link link-body-emphasis px-2 text-black">Guarapuava</a></li>
        <li class="nav-item"><a href="/moises-marx" class="nav-link link-body-emphasis px-2 text-black">Moisés Marx</a></li>
    </ul>
    <span style="width: 100px;"></span>
</header>
<hr>

